.contenedorJuegos {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}
.juego {
    background: var(--card);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px var(--sombra);
    transition: .3s;
    cursor: pointer;
}
.juego:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px var(--sombra);
}
.juego img {
    width: 100%;
    display: block;
}
.juego h3 {
    padding: 20px;
    text-align: center;
}
.botonJuego {
    display: block;
    width: fit-content;
    margin: 0 auto 20px auto;
    padding: 10px 25px;
    background: var(--azul);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}
.botonJuego:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}